@import 'src/view/components/App/colors';
@import 'src/view/components/App/breakpoints';

.randomQuestion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: $secondary-back;
  border-radius: 5px;
  margin-bottom: 1em;
  gap: 1.5em;

  @media screen and (max-width: $md) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.birdInfo {
  flex: auto;
  margin: 0 2.5em;

  @media screen and (max-width: $md) {
    width: 100%;
    margin: 0;
  }
}

.birdName {
  font-size: 2em;
  border-bottom: 1px solid $gray;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;

  @media screen and (max-width: $md) {
    text-align: center;
  }
}
