@import 'fonts.css';
@import 'colors';
@import '../../../../node_modules/reset-css/sass/reset';

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  background-color: $back;
  color: $main;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
