$main: #fff;
$fail: #D62C1A;
$secondary: #008966;
$secondary-active: #00bc8c;
$back: #222;
$secondary-back: #303030;
$gray: #808080;
$dark-gray: #4f4f4f;
$progress-gradient: linear-gradient(
  90deg,
  rgba(1, 187, 140, 1) 0%,
  rgba(59, 135, 140, 1) 100%
);
